{% extends "base.html" %}
{% if restriction == "None" %}
    {% set rtext = '' %}
{% elif restriction == "Other" %}
    {% set rtext = restriction_freetype %}
{% else %}
    {% set rtext = restriction %}
{% endif %}
{% if media_type == "None" %}
    {% set mtext = '' %}
{% elif media_type == "Other" %}
    {% set mtext = media_type_freetype %}
{% else %}
    {% set mtext = media_type %}
{% endif %}
    
{% block head %}
<style>
table {
        border-collapse: collapse;
}
td {
    vertical-align: top;
    padding: 8px;
}
div.whitespace{
    white-space: pre-wrap;
}
div.pagebreak {
    page-break-after: always;
}
</style>
{% endblock %}
{% block title %}University of Chicago - Digital Material Sheets{% endblock %}
{% block body %}
<a href="/">Home</a>
<table width=100% height=630px>
    <tr>
	<td width=50%>
	    <center>Special Collections Research Center</center>
	    <center>University of Chicago Library</center>
	    <hr />
	    <center><b><u>Digital Material Removed</u></b></center>
	    <font size="-4" color="gray"><center>File listing available on request</center></font>
	    <br />
            <b>Accession Number:</b> {{ acc_no }}
	    <br />
	    <br />
            <b>Batch Name:</b> {{ batch_name }}
	    <br />
	    <br />
	    <b>Identifier:</b> {{ identifier }}
	    <br />
	    <br />
	    <center><img src="/barcode/{{ identifier }}"></center>
	    <br />
            {% if mtext %}
            <b>Media Type:</b> <div class="whitespace">{{ mtext }}</div>
	    <br />
            {% endif %}
            {% if existing_label %}
            <b>Existing Label:</b> <div class="whitespace">{{ existing_label }}</div>
	    <br />
            {% endif %}
            {% if rtext %}
            <b>Restriction:</b> <div class="whitespace">{{ rtext }}</div>
            <br />
            {% endif %}
            <b>Contents:</b> <div class="whitespace">{{ note }}<div>
	</td>
	<td width=50%>
	</td>
    </tr>
</table>
<div class="pagebreak"></div>
{% endblock %}
