{% extends "base.html" %}
{% block title %}List{% endblock %}
{% block body %}
<table border="black" style="border-collapse:collapse; padding:15px">
    <tr>
        <th>Batch Name</th>
        <th>Accession Number</th>
        <th>Identifier</th>
        <th>Link</th>
    </tr>     
{% for record in records %}
    <tr>
        <td>{{ record['batch_name'] }}</td>
        <td>{{ record['acc_no'] }}</td>
        <td>{{ record['identifier'] }}</td>
        <td><a href={{ record['link'] }}>view</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}
