{% extends "base.html" %}
{% block body %}
<form method="POST" action="/removal">
    <div class="form-group">
        {{ form.acc_no.label }}<br />
        {{ form.acc_no() }}
    </div>
    <div class="form-group">
        {{ form.batch_name.label }}<br />
        {{ form.batch_name() }}
    </div>
    <div class="form-group">
        {{ form.identifier.label }}<br />
        {{ form.identifier() }}
    </div>
    <div class="form-group">
        {{ form.media_type.label }}<br />
        {{ form.media_type() }}
    </div>
    <div class="form-group">
        {{ form.existing_label.label }}<br />
        {{ form.existing_label() }}
    </div>
    <div class="form-group">
        {{ form.note.label }}<br />
        {{ form.note() }}
    </div>
    <div><input type=submit value="Generate!" /></div>
</form>
{% endblock %}
